html,
body {
    height: 100%;
}

body {
    color: $default;
    font-size: 15px;
    @extend %rubik-400;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-2 {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 42px;
    color: $title;
}

.filter-menu {
    display: flex;
    justify-content: center;
    &__list {
        display: flex;
    }
    &__item + .filter-menu__item {
        margin-left: 25px;
    } 
    &__btn {
        background-color: transparent;
        border: none;
        color: #8b8b8b;
        @extend %dmsans-700;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            color: $title;
        }
    }
    &__btn--active {
        color: $title;
    }
}
//  сделал market тут на случай, если будет использоваться где-то еще
.market {
    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 40px;
    }
    &__item {
        background-color: #fff;
        position: relative;
        padding: 30px 40px 40px;
        width: 270px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        &:hover .market__item-hover {
            opacity: 1;
        }
    }
    &__item-img {
        margin: 0 auto 60px;
        height: 200px;
    }
    &__item-hover {
        opacity: 0;
        position: absolute;
        top: 42%;
        left: 0;
        right: 0;
        transition: all .4s;
        &__inner {
            display: flex;
            justify-content: center;
        }
        &__link {
            margin: 10px;
            padding: 12px;
            background-color: #fff;
            border-radius: 50%;
            line-height: 1px;
            transition: all .5s;
            &:hover,
            &:hover .market__item-hover__svg path {
                background-color: #a3bbc8;
                fill: #fff;
            }
        }
    }
    &__item-title {
        @extend %dmsans-500;
        font-size: 16px;
        line-height: 40px;
        color: $sectitle;
        display: flex;
        justify-content: center;
        text-align: center;
        text-transform: capitalize;
    }
    &__item-price {
        @extend %dmsans-700;
        color: #a3bbc8;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

   
