
//colors
$accent: #436372;
$default: #8f8d8b;
$bg: #fcd7b6;
$sectitle: #243f4d;
$title: #191919;
$blue: #a3bbc8;

 //fonts
%rubik-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}
%rubik-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}
%rubik-700 {
    font-family: 'Rubik-Bold', sans-serif;
    font-weight: 700;
}
%dmsans-400 {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}
%dmsans-500 {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}
%dmsans-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}
%btn {
    background-color: #8eb2c6;
    opacity: 0.8;
    padding: 20px 17px 20px 25px;
    color: #fff;
    font-size: 15px;
    transition: all .3s;
}
%checkbox-hidden {
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}