@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
    padding: 48px 0;
    color: $accent;
    &__inner {
        @extend %rubik-700;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    position: relative;
    @extend %rubik-700;
    color: $accent;
    font-size: 36px;
    padding-left: 64px;
    &::before {
        content: url(../images/logo.svg);
        width: 50px;
        height: 40px;
        position: absolute;
        left: 0;
    }
}
.menu {
    @extend %rubik-500;
    &__list {
        display: flex;
    }
    &__list-link {
        padding: 0 3px;
    }
    &__list-item {
        &:hover {
            @extend %rubik-700;
        }
    }
    &__list-item + .menu__list-item {
        margin-left: 35px;
    }
    &__list-item--active {
        @extend %rubik-700;
    }
}
.user-nav {
    display: flex;
    align-items: center;
    @extend %rubik-500;
    &__search {
        margin-right: 22px;
        padding: 15px;
        background-color: #edf1f4;
        transition: all 0.2s;
        border-radius: 50%;
    }
    &__heart,
    &__cart {
        position: relative;
        padding: 22px 40px 12px 30px;
        background-color: $bg;
        border-radius: 0 40px 40px 0;
        transition: all 0.2s;
    }
    &__heart:hover,
    &__cart:hover {
        opacity: 0.7;
    }
    &__heart {
        transform: rotateY(180deg);
        padding: 23px 40px 12px 30px;
    }
    &__heart::after {
        position: absolute;
        content: url("../images/menu-icons/heart-border.svg");
        width: 1px;
        height: 30px;
        left: 0;
        top: 9px;
    }
    &__num {
        @extend %dmsans-700;
        font-size: 10px;
        position: absolute;
        padding: 5px;
        border-radius: 50%;
        background-color: #fff;
        line-height: 5px;
    }
    &__num-heart {
        left: 20px;
        top: 15px;
    }
    &__num-cart {
        right: 30px;
        top: 15px;
    }
    &__btn {
        @extend %btn;
        border: none;
        margin-left: 22px;
        padding: 15px;
        border-radius: 50%;
        line-height: 10px;
        cursor: pointer;
    }
    &__btn:hover {
        opacity: 1;
    }
}
.footer {
    .footer-container {
        max-width: 1210px;
        margin: 0 auto;
        padding: 0 15px;
    }
}
.footer-top {
    display: flex;
    padding-bottom: 75px;
    align-items: baseline;
    border-bottom: 1px solid #dae4e9;
    &__item {
        font-size: 14px;
    }
    &__con {
        width: 200px;
        margin-right: 100px;
    }
    &__nav {
        width: 140px;
        margin-right: 160px;
    }
    &__item-form {
        max-width: 270px;
    }
    &__address,
    &__phone,
    &__email {
        display: block;
        margin-bottom: 10px;
        line-height: 22px;
    }
    &__phone:hover,
    &__email:hover {
        text-decoration: underline;
    }
    &__logo {
        display: block;
        margin-bottom: 25px;
    }
    &__title {
        @extend %dmsans-700;
        color: #1f2044;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 22px;
    }
    &__list-item {
        line-height: 24px;
        margin-bottom: 10px;
        &:hover {
            text-decoration: underline;
        }
    }
    &__text {
        line-height: 24px;
        margin-bottom: 35px;
    }
    &__form {
        display: flex;
    }
    &__form-input {
        @extend %dmsans-400;
        color: #1f2044;
        max-width: 170px;
        width: 100%;
        padding: 12px 15px 15px;
        border: none;
        background-color: #fef7f0;
        &::placeholder {
            @extend %dmsans-500;
            color: $accent;
            font-size: 12px;
        }
    }
    &__form-btn {
        @extend %btn;
        border: none;
        padding: 13px 15px 15px;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
}

.footer-bottom {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        line-height: 32px;
        padding: 25px 0;
    }
    &__nav-link {
        padding: 0 12px;
        text-transform: capitalize;
        &:hover {
            text-decoration: underline;
        }
    }
    &__nav-link + .footer-bottom__nav-link {
        border-left: 1px solid #7b7b7b;
    }
}

.top-slider {
    position: relative;
    height: 100vh;
    &__inner {
        background-color: $bg;
        padding: 220px 300px 270px;
        background-image: url("../images/slider/ellipse.png");
        background-repeat: no-repeat;
        background-position: right 180px top 95px;
    }
    &__item {
        display: flex !important;
        height: 330px;
    }
    &__img {
        padding-top: 65px;
        position: absolute;
        right: 0;
    }
    &__content {
        max-width: 460px;
    }
    &__content-title {
        @extend %rubik-500;
        font-size: 72px;
        line-height: 70px;
        color: $title;
        margin-bottom: 40px;
    }
    &__content-text {
        max-width: 380px;
        font-size: 18px;
        line-height: 30px;
        color: $accent;
        margin-bottom: 50px;
    }
    &__content-btn {
        position: relative;
        @extend %btn;
        &:hover {
            opacity: 1;
        }
        &::after {
            content: url("../images/arrow-btn.svg");
            margin-left: 55px;
        }
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 46%;
        bottom: 45px;
        li {
            margin: 6px;
            button {
                @extend %rubik-500;
                background-color: #fff;
                border: none;
                border-radius: 50%;
                color: $title;
                opacity: 0.5;
                padding: 10px;
                line-height: 8px;
                cursor: pointer;
                transition: all .3s;
                &:hover {
                    opacity: 1;
                }
            }
            &.slick-active {
                button {
                    opacity: 1;
                }
            }
        }
    }
}

@import "media";
