@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.mixitup-control-active {
    color: $title;
}

.header {
    padding: 48px 0;
    color: $accent;
    &__inner {
        @extend %rubik-700;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.menu {
    @extend %rubik-500;
    &__list {
        display: flex;
    }
    &__list-link {
        padding: 0 3px;
    }
    &__list-item {
        width: 70px;
        text-align: center;
        &:hover {
            @extend %rubik-700;
        }
    }
    &__list-item + .menu__list-item {
        margin-left: 18px;
    }
    &__list-item--active {
        @extend %rubik-700;
    }
}
.user-nav {
    display: flex;
    align-items: center;
    @extend %rubik-500;
    &__search {
        margin-right: 22px;
        padding: 15px;
        background-color: #edf1f4;
        transition: all 0.2s;
        border-radius: 50%;
    }
    &__heart,
    &__cart {
        position: relative;
        padding: 22px 40px 12px 30px;
        background-color: $bg;
        border-radius: 0 40px 40px 0;
        transition: all 0.2s;
    }
    &__heart:hover,
    &__cart:hover {
        opacity: 0.7;
    }
    &__heart {
        transform: rotateY(180deg);
        padding: 23px 40px 12px 30px;
    }
    &__heart::after {
        position: absolute;
        content: url("../images/icons/menu-icons/heart-border.svg");
        width: 1px;
        height: 30px;
        left: 0;
        top: 9px;
    }
    &__num {
        @extend %dmsans-700;
        font-size: 10px;
        position: absolute;
        padding: 5px;
        border-radius: 50%;
        background-color: #fff;
        line-height: 5px;
    }
    &__num-heart {
        left: 20px;
        top: 15px;
    }
    &__num-cart {
        right: 30px;
        top: 15px;
    }
    &__btn {
        @extend %btn;
        border: none;
        margin-left: 22px;
        padding: 15px;
        border-radius: 50%;
        line-height: 10px;
        cursor: pointer;
    }
    &__btn:hover {
        opacity: 1;
    }
}
.footer-top {
    display: flex;
    padding-bottom: 75px;
    border-bottom: 1px solid #dae4e9;
    &__item {
        font-size: 14px;
    }
    &__con {
        width: 200px;
        margin-right: 100px;
    }
    &__nav {
        width: 140px;
        margin-right: 160px;
    }
    &__item-form {
        max-width: 270px;
    }
    &__address,
    &__phone,
    &__email {
        display: block;
        margin-bottom: 10px;
        line-height: 22px;
    }
    &__phone:hover,
    &__email:hover {
        text-decoration: underline;
    }
    &__logo {
        display: block;
        margin-bottom: 25px;
        margin-top: -12px;
    }
    &__title {
        @extend %dmsans-700;
        color: #1f2044;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 22px;
    }
    &__list-item {
        line-height: 24px;
        margin-bottom: 10px;
        &:hover {
            text-decoration: underline;
        }
    }
    &__text {
        line-height: 24px;
        margin-bottom: 35px;
    }
    &__form {
        display: flex;
    }
    &__form-input {
        @extend %dmsans-400;
        color: #1f2044;
        max-width: 170px;
        width: 100%;
        padding: 12px 15px 15px;
        border: none;
        background-color: #fef7f0;
        &::placeholder {
            @extend %dmsans-500;
            color: $accent;
            font-size: 12px;
        }
    }
    &__form-btn {
        @extend %btn;
        border: none;
        padding: 13px 15px 15px;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
}

.footer-bottom {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        line-height: 32px;
        padding: 25px 0;
    }
    &__nav-link {
        padding: 0 12px;
        text-transform: capitalize;
        &:hover {
            text-decoration: underline;
        }
    }
    &__nav-link + .footer-bottom__nav-link {
        border-left: 1px solid #7b7b7b;
    }
}

.top-slider {
    position: relative;
    &__inner {
        background-color: $bg;
        padding: 220px 300px 270px;
        background-image: url("../images/slider/ellipse.png");
        background-repeat: no-repeat;
        background-position: right 180px top 95px;
    }
    &__item {
        display: flex !important;
        height: 330px;
    }
    &__img {
        padding-top: 65px;
        position: absolute;
        right: 0;
    }
    &__content {
        max-width: 460px;
    }
    &__content-title {
        @extend %rubik-500;
        font-size: 72px;
        line-height: 70px;
        color: $sectitle;
        margin-bottom: 40px;
    }
    &__content-text {
        max-width: 380px;
        font-size: 18px;
        line-height: 30px;
        color: $accent;
        margin-bottom: 50px;
    }
    &__content-btn {
        position: relative;
        @extend %btn;
        &:hover {
            opacity: 1;
        }
        &::after {
            content: url("../images/arrow-btn.svg");
            margin-left: 55px;
        }
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 46%;
        bottom: 45px;
        li {
            margin: 6px;
            button {
                @extend %rubik-500;
                background-color: #fff;
                border: none;
                border-radius: 50%;
                color: $sectitle;
                opacity: 0.5;
                padding: 10px;
                line-height: 8px;
                cursor: pointer;
                transition: all .3s;
                &:hover {
                    opacity: 1;
                }
            }
            &.slick-active {
                button {
                    opacity: 1;
                }
            }
        }
    }
}

.little-info {
    margin-bottom: 70px;
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        padding: 45px 145px 45px 240px;
        background-color: #fef7f0;
        position: relative;
        max-width: 590px;
        & svg {
            position: absolute;
            left: 155px;
            top: 60px;
        }
        &:nth-child(1),
        &:nth-child(2) {
            border-right: 1px solid #e8e4df;
        }
    }
    &__item-title {
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 40px;
        color: #414141;
    }
    &__item-descr {
        color: #585858;
        @extend %dmsans-400;
        width: 220px;
        line-height: 30px;
    }
}

.top-week {
    margin-bottom: 100px;
    &__inner {
        margin-bottom: 185px
    }
}
.top-week__mini {
    &-items {
        display: flex;
        justify-content: space-between;
    }
    &-item {
        padding: 85px 140px 85px 300px;
        background-color: #feefe2;
    }
    &-descr {
        position: relative;
        width: 430px;
        min-height: 210px;
        padding-left: 100px;
        font-size: 16px;
        line-height: 30px;
        color: $sectitle;
    }
    &-img {
        position: absolute;
        bottom: 0;
        left: -35%;
    }
    &-title {
        @extend %dmsans-700;
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    &-text {
        margin-bottom: 35px;
    }
    &-link {
        @extend %rubik-500;
        padding: 20px 18px;
        border: 1px solid #b3b7b5;
        color: $accent;
        border-radius: 5px;
        transition: all .3s;
        position: relative;
        svg {
            margin-left: 40px;
        }
        &:hover,
        &:hover path {
            background-color: $sectitle;
            color: #fff;
            fill: #fff;
        }
    }
}

.video-section {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    margin-bottom: 110px;
    &__inner {
       display: flex; 
       justify-content: center;
       height: 100%;
    }
    &__btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__link {
        align-items: center;
        circle {
            transition: all .3s;
        }
        &:hover .video-section__svg circle{
            fill: $sectitle;
        }
    }
}

.new-design {
    margin-bottom: 120px;
    display: flex;
    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px 30px;
    }
    &__item {
        position: relative;
        height: 250px;
        width: 370px;
        background-color: #f8f8f8;
        padding: 30px 0 0 35px;
    }
    &__link {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: $title;
        opacity: 0;
        transition: all .4s;
        &:hover {
            opacity: .1;
        }
    }
    &__item-title {
        @extend %dmsans-700;
        font-size: 20px;
        line-height: 26px;
        max-width: 190px;
        margin-bottom: 15px;
        color: $title;
        transition: all .5s;
    }
    &__item-subtitle {
        @extend %dmsans-700;
        color: #a3bbc8;
    }
}










@import "media";
